@page
@model MouseTracker.Models.MouseMovement

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mouse Tracker</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh; 
            margin: 0;
        }

        h1 {
            margin-bottom: 20px;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
    <script>
        let mouseCoordinates = [];

        document.addEventListener('mousemove', event => {
            mouseCoordinates.push([event.clientX, event.clientY, Date.now()]);
        });

        setInterval(() => {
            if (mouseCoordinates.length) {
                sendData();
                mouseCoordinates = [];
            }
        }, 1000);

        function sendData() {
            fetch('/mouse/savecoordinates', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(mouseCoordinates.map(coord => ({
                    XCoordinate: coord[0],
                    YCoordinate: coord[1],
                    Timestamp: coord[2]
                })))
            })
            .then(response => response.ok ? alert('Данные успешно отправлены!') : alert('Ошибка при отправке данных'))
            .catch(error => console.error('Ошибка:', error));
        }
    </script>
</head>
<body>
<h1>Трекер мыши</h1>
<button onclick="sendData()">Отправить данные</button>
</body>
</html>